# Exploratory Data Analysis - College Dataset

In [5]:
!pip install plotly

^C
Collecting plotly
  Downloading plotly-6.3.1-py3-none-any.whl (9.8 MB)
     ---------------------------------------- 9.8/9.8 MB 2.5 MB/s eta 0:00:00
Collecting narwhals>=1.15.1
  Downloading narwhals-2.8.0-py3-none-any.whl (415 kB)
     -------------------------------------- 415.9/415.9 kB 2.9 MB/s eta 0:00:00
Requirement already satisfied: packaging in c:\users\user\documents\open delta education\machine learning\stats_learning\venv\lib\site-packages (from plotly) (24.1)
Installing collected packages: narwhals, plotly
Successfully installed narwhals-2.8.0 plotly-6.3.1

[notice] A new release of pip available: 22.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
# import important libraries
import os
import warnings
from datetime import time
from math import sqrt
# scientific math
import numpy as np
# data processing
import pandas as pd
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler
# visualisation library
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
# from plotly.subplots import make_subplots
# import plotly.graph_objects as go
# import plotly

In [7]:
# load in the dataset
cwd = os.getcwd()
cwd

'C:\\Users\\user\\Documents\\Open Delta Education\\Machine Learning\\stats_learning\\notebooks'

In [8]:
# data path
data_path = "../data/College.csv"

In [9]:
# load the csv
data = pd.read_csv(data_path)
# show the first 5 observations
data.head()

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [10]:
data_cp = data.copy()

In [11]:
data_cp.head()

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [12]:
# check the dataset size
data_cp.shape

(777, 19)

In [13]:
data_cp.sample(77)

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
736,Wesley College,Yes,980,807,350,10,25,872,448,9890,4674,500,1350,52,57,14.4,15,6243,84
355,Mayville State University,No,233,233,153,5,12,658,58,4486,2516,600,1900,68,68,15.7,11,6971,51
240,Gustavus Adolphus College,Yes,1709,1385,634,36,72,2281,50,14125,3600,400,700,79,89,12.5,58,9907,80
195,Evergreen State College,No,1801,1101,438,14,50,3065,363,6297,4600,600,1323,75,78,18.1,14,8355,68
552,St. Norbert College,Yes,1334,1243,568,30,56,1946,95,12140,4450,425,1100,74,78,15.1,36,8595,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
773,Xavier University,Yes,1959,1805,695,24,47,2849,1107,11520,4960,600,1250,73,75,13.3,31,9189,83
469,Reed College,Yes,1966,1436,327,47,80,1199,61,19960,5490,500,450,90,90,11.8,37,15886,68
653,University of North Carolina at Greensboro,No,5191,4134,1500,15,44,7532,1847,8677,3505,600,1300,75,94,15.5,17,7392,53
567,SUNY College at Cortland,No,7888,3519,1036,6,40,5011,346,6550,4680,630,1274,82,85,17.8,17,5563,53
645,University of Mobile,Yes,452,331,269,17,54,1417,301,6150,3680,550,1200,59,63,16.6,4,5412,52

In [14]:
data_cp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   777 non-null    object
 1   Private      777 non-null    object
 2   Apps         777 non-null    int64
 3   Accept       777 non-null    int64
 4   Enroll       777 non-null    int64
 5   Top10perc    777 non-null    int64
 6   Top25perc    777 non-null    int64
 7   F.Undergrad  777 non-null    int64
 8   P.Undergrad  777 non-null    int64
 9   Outstate     777 non-null    int64
 10  Room.Board   777 non-null    int64
 11  Books        777 non-null    int64
 12  Personal     777 non-null    int64
 13  PhD          777 non-null    int64
 14  Terminal     777 non-null    int64
 15  S.F.Ratio    777 non-null    float64
 16  perc.alumni  777 non-null    int64
 17  Expend       777 non-null    int64
 18  Grad.Rate    777 non-null    int64
dtypes: float64(1), int64(16), object(2)
memory usage: 115.5+ KB

In [16]:
data_cp.isna().sum()

Unnamed: 0     0
Private        0
Apps           0
Accept         0
Enroll         0
Top10perc      0
Top25perc      0
F.Undergrad    0
P.Undergrad    0
Outstate       0
Room.Board     0
Books          0
Personal       0
PhD            0
Terminal       0
S.F.Ratio      0
perc.alumni    0
Expend         0
Grad.Rate      0
dtype: int64

In [18]:
data_cp.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Apps,777.0,3001.638353,3870.201484,81.0,776.0,1558.0,3624.0,48094.0
Accept,777.0,2018.804376,2451.113971,72.0,604.0,1110.0,2424.0,26330.0
Enroll,777.0,779.972973,929.176190,35.0,242.0,434.0,902.0,6392.0
Top10perc,777.0,27.558559,17.640364,1.0,15.0,23.0,35.0,96.0
Top25perc,777.0,55.796654,19.804778,9.0,41.0,54.0,69.0,100.0
F.Undergrad,777.0,3699.907336,4850.420531,139.0,992.0,1707.0,4005.0,31643.0
P.Undergrad,777.0,855.298584,1522.431887,1.0,95.0,353.0,967.0,21836.0
Outstate,777.0,10440.669241,4023.016484,2340.0,7320.0,9990.0,12925.0,21700.0
Room.Board,777.0,4357.526384,1096.696416,1780.0,3597.0,4200.0,5050.0,8124.0
Books,777.0,549.380952,165.105360,96.0,470.0,500.0,600.0,2340.0
Personal,777.0,1340.642214,677.071454,250.0,850.0,1200.0,1700.0,6800.0
PhD,777.0,72.660232,16.328155,8.0,62.0,75.0,85.0,103.0
Terminal,777.0,79.702703,14.722359,24.0,71.0,82.0,92.0,100.0
S.F.Ratio,777.0,14.089704,3.958349,2.5,11.5,13.6,16.5,39.8
perc.alumni,777.0,22.743887,12.391801,0.0,13.0,21.0,31.0,64.0
Expend,777.0,9660.171171,5221.768440,3186.0,6751.0,8377.0,10830.0,56233.0
Grad.Rate,777.0,65.463320,17.177710,10.0,53.0,65.0,78.0,118.0

In [20]:
data_cp.columns

Index(['Unnamed: 0', 'Private', 'Apps', 'Accept', 'Enroll', 'Top10perc',
       'Top25perc', 'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board',
       'Books', 'Personal', 'PhD', 'Terminal', 'S.F.Ratio', 'perc.alumni',
       'Expend', 'Grad.Rate'],
      dtype='object')

In [23]:
numeric_columns = ['Apps', 'Accept', 'Enroll', 'Top10perc',
       'Top25perc', 'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board',
       'Books', 'Personal', 'PhD', 'Terminal', 'S.F.Ratio', 'perc.alumni',
       'Expend', 'Grad.Rate']

In [24]:
# correlation analsis
data_cp[numeric_columns].corr()

,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
Apps,1.000000,0.943451,0.846822,0.338834,0.351640,0.814491,0.398264,0.050159,0.164939,0.132559,0.178731,0.390697,0.369491,0.095633,-0.090226,0.259592,0.146755
Accept,0.943451,1.000000,0.911637,0.192447,0.247476,0.874223,0.441271,-0.025755,0.090899,0.113525,0.200989,0.355758,0.337583,0.176229,-0.159990,0.124717,0.067313
Enroll,0.846822,0.911637,1.000000,0.181294,0.226745,0.964640,0.513069,-0.155477,-0.040232,0.112711,0.280929,0.331469,0.308274,0.237271,-0.180794,0.064169,-0.022341
Top10perc,0.338834,0.192447,0.181294,1.000000,0.891995,0.141289,-0.105356,0.562331,0.371480,0.118858,-0.093316,0.531828,0.491135,-0.384875,0.455485,0.660913,0.494989
Top25perc,0.351640,0.247476,0.226745,0.891995,1.000000,0.199445,-0.053577,0.489394,0.331490,0.115527,-0.080810,0.545862,0.524749,-0.294629,0.417864,0.527447,0.477281
F.Undergrad,0.814491,0.874223,0.964640,0.141289,0.199445,1.000000,0.570512,-0.215742,-0.068890,0.115550,0.317200,0.318337,0.300019,0.279703,-0.229462,0.018652,-0.078773
P.Undergrad,0.398264,0.441271,0.513069,-0.105356,-0.053577,0.570512,1.000000,-0.253512,-0.061326,0.081200,0.319882,0.149114,0.141904,0.232531,-0.280792,-0.083568,-0.257001
Outstate,0.050159,-0.025755,-0.155477,0.562331,0.489394,-0.215742,-0.253512,1.000000,0.654256,0.038855,-0.299087,0.382982,0.407983,-0.554821,0.566262,0.672779,0.571290
Room.Board,0.164939,0.090899,-0.040232,0.371480,0.331490,-0.068890,-0.061326,0.654256,1.000000,0.127963,-0.199428,0.329202,0.374540,-0.362628,0.272363,0.501739,0.424942
Books,0.132559,0.113525,0.112711,0.118858,0.115527,0.115550,0.081200,0.038855,0.127963,1.000000,0.179295,0.026906,0.099955,-0.031929,-0.040208,0.112409,0.001061
Personal,0.178731,0.200989,0.280929,-0.093316,-0.080810,0.317200,0.319882,-0.299087,-0.199428,0.179295,1.000000,-0.010936,-0.030613,0.136345,-0.285968,-0.097892,-0.269344
PhD,0.390697,0.355758,0.331469,0.531828,0.545862,0.318337,0.149114,0.382982,0.329202,0.026906,-0.010936,1.000000,0.849587,-0.130530,0.249009,0.432762,0.305038
Terminal,0.369491,0.337583,0.308274,0.491135,0.524749,0.300019,0.141904,0.407983,0.374540,0.099955,-0.030613,0.849587,1.000000,-0.160104,0.267130,0.438799,0.289527
S.F.Ratio,0.095633,0.176229,0.237271,-0.384875,-0.294629,0.279703,0.232531,-0.554821,-0.362628,-0.031929,0.136345,-0.130530,-0.160104,1.000000,-0.402929,-0.583832,-0.306710
perc.alumni,-0.090226,-0.159990,-0.180794,0.455485,0.417864,-0.229462,-0.280792,0.566262,0.272363,-0.040208,-0.285968,0.249009,0.267130,-0.402929,1.000000,0.417712,0.490898
Expend,0.259592,0.124717,0.064169,0.660913,0.527447,0.018652,-0.083568,0.672779,0.501739,0.112409,-0.097892,0.432762,0.438799,-0.583832,0.417712,1.000000,0.390343
Grad.Rate,0.146755,0.067313,-0.022341,0.494989,0.477281,-0.078773,-0.257001,0.571290,0.424942,0.001061,-0.269344,0.305038,0.289527,-0.306710,0.490898,0.390343,1.000000