# Credit Card Default Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
# data path
data_path = "../data/default.csv"

In [4]:
# load in the csv
data = pd.read_csv(data_path)
data.head()

  default student      balance        income
0      No      No   729.526495  44361.625074
1      No     Yes   817.180407  12106.134700
2      No      No  1073.549164  31767.138947
3      No      No   529.250605  35704.493935
4      No      No   785.655883  38463.495879

In [5]:
data.shape

(10000, 4)

In [6]:
# check data types
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   default  10000 non-null  object
 1   student  10000 non-null  object
 2   balance  10000 non-null  float64
 3   income   10000 non-null  float64
dtypes: float64(2), object(2)
memory usage: 312.6+ KB

In [7]:
data.isna().sum()

default    0
student    0
balance    0
income     0
dtype: int64

In [8]:
# statistical overview of data
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
balance,10000.0,835.374886,483.714985,0.000000,481.731105,823.636973,1166.308386,2654.322576
income,10000.0,33516.981876,13336.639563,771.967729,21340.462903,34552.644802,43807.729272,73554.233495

In [9]:
data.describe(include="object").transpose()

         count unique top  freq
default  10000      2  No  9667
student  10000      2  No  7056

In [12]:
# group by default outcome
data.groupby(["default"]).agg(["std"])

ValueError: could not convert string to float: 'No'